# Analyze Wine Database

## Table of Contents
- [Introduction](#intro)
- [Part I - Data Cleaning](#Data Cleaning)
- [Part II - Answering Questions](#Answering Questions)
- [Part III - Regression](#regression)


<a id='intro'></a>
### Introduction

The dataset is available at the UCL website: https://archive.ics.uci.edu/ml/datasets/wine
For this project, I will be cleaning the data, finding out solutions for my questions:

1 Is a certain type of wine (red or white) associated with higher quality?\
2 What level of acidity (pH value) receives the highest average rating?\
3 What level of alcohol receives the highest average rating?\
4 What level of residual sugar receives the highest average rating?


<a id='Data Cleaning'></a>
#### Part I - Probability

In [1]:
#import data, separate data by semicolon ;
import pandas as pd
import numpy as np
import statsmodels.api as sm;

red_df=pd.read_csv('winequality-red.csv',sep = ';')
red_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [2]:
white_df=pd.read_csv('winequality-white.csv',sep = ';')
white_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [3]:
#adding color column 1
import numpy as np
red_color=np.repeat('red',red_df.shape[0])
white_color=np.repeat('white',white_df.shape[0])

In [4]:
#adding color column 2
red_df['color']=red_color
white_df['color']=white_color

In [5]:
#save as new file
red_df.to_csv ('winequality-red_edited.csv',index=False)
white_df.to_csv ('winequality-white_edited.csv',index=False)

In [6]:
#combine two files
wine_df=red_df.append(white_df)
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [7]:
#save as new file
wine_df.to_csv('winequality_edited.csv',index=False)

<a id='Answering Questions'></a>
#### Part Ⅱ - Answering Questions

## QUESTIONS
### 1 Is a certain type of wine (red or white) associated with higher quality?

In [8]:
wine_df.groupby(['color']).quality.mean()

color
red      5.636023
white    5.877909
Name: quality, dtype: float64

In [9]:
wine_df.query('color == "white"').quality.mean() - wine_df.query('color == "red"').quality.mean()

0.2418868366841158

In [10]:
#White wines have higher rating

### 2 What level of acidity (pH value) receives the highest average rating?

In [11]:
wine_df['pH'].describe()

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [12]:
# Bin edges that will be used to "cut" the data into groups
bin_edges = [2.72,3.11,3.21,3.32,4.01]

In [13]:
# Labels for the four acidity level groups
bin_names = ['high', 'mod_high', 'medium', 'low']

In [14]:
# Creates acidity_levels column
wine_df['acidity_levels'] = pd.cut(wine_df['pH'], bin_edges, labels=bin_names)
wine_df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,low
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,mod_high
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,medium
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,mod_high
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,low
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,red,low
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,red,medium
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,red,low
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,red,low
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,red,low

In [16]:
# Find the mean quality of each acidity level with groupby
wine_df.groupby('acidity_levels').mean().quality

acidity_levels
high        5.783343
mod_high    5.784540
medium      5.850832
low         5.859593
Name: quality, dtype: float64

NameError: name 'df' is not defined